/**=====================
     46. Tour  CSS Start
==========================**/
.bgjRaZ {
  background: $primary-color !important;
  height: unset !important;
}
.hqBKFk {
  color: $primary-color !important;
  background: $primary-color !important;
}
.gtkSUb {
  right: 18px !important;
}
.tg-dialog{
  background-color: $primary-color;
  fill: $white;
  color: $white;
  .tg-dialog-body{
    color: $white;
  }
  .tg-dialog-dots{
    > span{
      &.tg-dot{
        &.tg-dot-active{
          background: $white;
        }
      }
    }
  }
}
/**=====================
    46. Tour  CSS Ends
==========================**/
